body{
    background-color: #121212;;
    display: grid;
    justify-items: center;
    align-items: center;
}
h1{
    color:#b5a98a;
    font-family: 'Courier New', Courier, monospace;
    font-size: 72px;
}
h2{
    color:#b5a98a;
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
}
header {
    background-color: #b5a98a;
    height: 70px;
    width: 100%;
}
header .logo img {
    width: 150px;
    height: auto;
}